 body {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .intro {
        min-height: 500px;
    }
    #scroll {
        position: relative;
    }
    .step {
        min-height: 500px;
        padding: .5rem;
    }

    .step img {
        width: 100%;
        height: auto;
    }

    .scroll__graphic {
        position: -webkit-sticky;
        position: sticky;
        float: right;
        top: 0;
        right: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .scroll__text {
        position: relative;
        padding: 0 1rem;
        max-width: 30rem;
        width: 33%;
    }

    .overlay {
        background: rgba(255,255,255, .75);
    }

    #map {
        z-index: -5;
    }